.manga_lists__text_wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50%;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align:center;
    font-size:$reg_font;

    flex-direction: column;
    justify-content: center;

    @include display_flex();
}
.mangalists_col{
    margin-bottom:20px;
}
